<div class="body">
    <h1 style="padding-top: 10%; padding-left: 10%; color: white; font-family: monospace; font-size: 60px;">Your </h1>
    <h1 style="padding-left: 12%; color: rgb(250, 121, 121); font-family: monospace; font-size: 60px;">digital </h1>
    <h1 style="padding-left: 14%; color: rgb(72, 185, 138); font-family: monospace; font-size: 60px;">future </h1>
    <h1 style="padding-left: 16%; color: rgb(255, 255, 255); font-family: monospace; font-size: 60px;">Start here </h1>
   
  </div>